# WEB SCRAPING ‚Äì ASSIGNMENT 2

Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and salary filter.
You have to scrape data for ‚ÄúData Scientist‚Äù designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is ‚ÄúDelhi/NCR‚Äù. The salary filter to be used is ‚Äú3-6‚Äù lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.naukri.com/
2. Enter ‚ÄúData Scientist‚Äù in ‚ÄúSkill, Designations, and Companies‚Äù field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

Answer

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
driver = webdriver.Chrome()

In [3]:
# Opening the page which is given web page naukari.com
driver.get("https://www.naukri.com/")

In [4]:
# Entering designations column in Data Scientist

designations=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designations.send_keys('Data Scientist')

In [5]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [6]:
# Apply location filter - Delhi/NCR

location_filter = driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[2]/label/i")
location_filter.click()

In [7]:
# Apply Salary Filter - 3-6 lakh

salary_filter=driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[6]/div[2]/div[2]/label/i")
salary_filter.click()

In [8]:
# Initialize lists to store data
job_titles = []
job_locations = []
company_names = []
experience_required = []

In [9]:
# Scrape data for the first 10 job results
job_results = driver.find_elements(By.CLASS_NAME, "jobTuple")

In [11]:
# Scraping job title from the given page
titles_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in titles_tags:
    titles=i.text
    job_titles.append(titles)
    
# Scraping job location from the given page
locations_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in locations_tags:
    locations=i.text
    job_locations.append(locations)
    
# Scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags:
    company=i.text
    company_names.append(company)
    
# Scraping job Exprience form the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)

In [12]:
print(len(job_titles),len(job_locations),len(company_names),len(experience_required))

20 20 20 20

In [14]:
import pandas as pd
df=pd.DataFrame({'Title':job_titles,'Location':job_locations,'Company':company_names,'Experience':experience_required})
df.head(10)

,Title,Location,Company,Experience
0,Data Scientist HTHD,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,1-4 Yrs
1,Data Scientist,"Gurugram, Bengaluru",Blackbuck,3-7 Yrs
2,Associate Scientist - Data Sourcing & Solutions,Gurugram,Axa Technology Services,1-4 Yrs
3,Global GI Data Scientist,Faridabad,Hitachi Ltd.,3-5 Yrs
4,Global GI Data Scientist,Faridabad,Hitachi Energy,3-5 Yrs
5,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Digital Glyde,3-7 Yrs
6,Python Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Wizaltia Hr Solutions,2-7 Yrs
7,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Kmart,3-5 Yrs
8,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",KAS Services,3-5 Yrs
9,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Scienaptic Systems,2-7 Yrs

Q2: Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter ‚ÄúData Analyst‚Äù in ‚ÄúJob title, Skills‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the location‚Äù field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Answer

In [15]:
driver = webdriver.Chrome()

In [16]:
# Opening the shine.com page an automated chrome browser
driver.get("https://www.shine.com/")

In [23]:
# Entering Job title and location as required in the question

skills=driver.find_element(By.CLASS_NAME,"input-label ")
skills.send_keys('Data Analyst')

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=124.0.6367.158)
Stacktrace:
	GetHandleVerifier [0x00007FF680401522+60802]
	(No symbol) [0x00007FF68037AC22]
	(No symbol) [0x00007FF680237B13]
	(No symbol) [0x00007FF6802809F7]
	(No symbol) [0x00007FF68027EB1A]
	(No symbol) [0x00007FF6802AAB7A]
	(No symbol) [0x00007FF68027A7C6]
	(No symbol) [0x00007FF6802AAD90]
	(No symbol) [0x00007FF6802CA224]
	(No symbol) [0x00007FF6802AA923]
	(No symbol) [0x00007FF680278FEC]
	(No symbol) [0x00007FF680279C21]
	GetHandleVerifier [0x00007FF6807041BD+3217949]
	GetHandleVerifier [0x00007FF680746157+3488183]
	GetHandleVerifier [0x00007FF68073F0DF+3459391]
	GetHandleVerifier [0x00007FF6804BB8E6+823622]
	(No symbol) [0x00007FF680385FBF]
	(No symbol) [0x00007FF680380EE4]
	(No symbol) [0x00007FF680381072]
	(No symbol) [0x00007FF6803718C4]
	BaseThreadInitThunk [0x00007FF924E47034+20]
	RtlUserThreadStart [0x00007FF924FA26A1+33]

In [ ]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/label")
location.send_keys('Bangalore')

Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART
            As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [7]:
driver = webdriver.Chrome()

In [8]:
# Open the Flipkart product review page
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [9]:
# Initialize lists to store data
ratings = []
review_summaries = []
full_reviews = []

In [13]:
# Function to scrap the data from given page

def scrape_data():
    # Parse the page HTML
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    
    # Find all reviews
    review_blocks = soup.find_all("div", class_="col EPCmJX Ma1fCG")
    
    for review_block in review_blocks:
        # Extract rating
        rating = review_block.find("div", class_="XQDdHH Ga3i8K").text.strip()
        ratings.append(rating)
        
        # Extract review summary
        review_summary = review_block.find("p", class_="z9E0IG").text.strip()
        review_summaries.append(review_summary)
        
        # Extract full review
        full_review = review_block.find("div", class_="ZmyHeo").div.text.strip()
        full_reviews.append(full_review)

# Loop to get data from multiple pages until 100 reviews are scraped
while len(ratings) < 100:
    scrape_data()
    
    # Click on the "Next" button to go to the next page
    try:
        next_button = driver.find_element(By.XPATH,'//a[@class="_9QVEpD"][last()]')
        next_button.click()
        
        # Wait for the next page to load
        WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.CLASS_NAME, "col EPCmJX Ma1fCG")))
        
        # Add a short delay to ensure the page is fully loaded
        time.sleep(2)
    except:
        print("No more pages available or failed to click the next button.")
        break

# Close the WebDriver
driver.quit()

# Create a DataFrame of the scraped data
data = {
    'Rating': ratings[:100],
    'Review Summary': review_summaries[:100],
    'Full Review': full_reviews[:100]
}

df = pd.DataFrame(data)

# Print the DataFrame
print(df)

No more pages available or failed to click the next button.
  Rating       Review Summary  \
0      5       Classy product
1      5             Terrific
2      5            Wonderful
3      5    Worth every penny
4      5  Best in the market!
5      5    Terrific purchase
6      5     Perfect product!
7      5     Perfect product!
8      5            Just wow!
9      5            Excellent

                                         Full Review
0  Camera is awesomeBest battery backupA performe...
1                            Very very goodREAD MORE
2                    This is amazing at allREAD MORE
3  Feeling awesome after getting the delivery of ...
4                               Good CameraREAD MORE
5                         Value for money üòçREAD MORE
6                              Photos superREAD MORE
7                                V Good allREAD MORE
8                         Perfect Product!!READ MORE
9                                       NYCREAD MORE

In [14]:
df.head(100)

,Rating,Review Summary,Full Review
0,5,Classy product,Camera is awesomeBest battery backupA performe...
1,5,Terrific,Very very goodREAD MORE
2,5,Wonderful,This is amazing at allREAD MORE
3,5,Worth every penny,Feeling awesome after getting the delivery of ...
4,5,Best in the market!,Good CameraREAD MORE
5,5,Terrific purchase,Value for money üòçREAD MORE
6,5,Perfect product!,Photos superREAD MORE
7,5,Perfect product!,V Good allREAD MORE
8,5,Just wow!,Perfect Product!!READ MORE
9,5,Excellent,NYCREAD MORE

Q4: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for ‚Äúsneakers‚Äù in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes.

In [15]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup
import pandas as pd

Answer

In [20]:
driver = webdriver.Chrome()

In [21]:
# Open the Flipkart product review page
driver.get("https://www.flipkart.com/")

In [22]:
# Entering Brand name and serch option.
Brands=driver.find_element(By.CLASS_NAME,"Pke_EE")
Brands.send_keys('sneakers')

In [23]:
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [24]:
brand=[]
product_description=[]
price=[]

In [31]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd

# Initialize Chrome driver
driver = webdriver.Chrome()

In [32]:
# Navigate to Flipkart.com and search for "sneakers"
driver.get("https://www.flipkart.com/")
search_box = driver.find_element(By.CLASS_NAME,"Pke_EE")
search_box.send_keys("sneakers")
search_button = driver.find_element(By.XPATH,"//button[@type='submit']")
search_button.click()

In [48]:
# Extract the sneaker data
sneaker_data = []
sneakers = driver.find_elements(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
for sneaker in sneakers[:100]:
    brand = sneaker.find_element(By.XPATH, "//div[@class="syl9yP"]").text
    description = sneaker.find_element(By.XPATH, "//a[@class="WKTcLC"]").text
    price = sneaker.find_element(By.XPATH, "//div[@class="Nx9bqj"]").text
    sneaker_data.append({"brand": brand, "description": description, "price": price})

# Create a pandas DataFrame from the extracted data
df = pd.DataFrame(sneaker_data)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (302174083.py, line 5)

In [44]:
# Print the DataFrame
print(df)

     brand                                        description price
0  ROASTER  Stylish Multi Sports Casual Sneaker Shoes Snea...  ‚Çπ317

Note
i unable to solve question we have face problem need more class for using this application